/StrategyPattern/nbproject/private/
/StrategyPattern/build/
/PrototypePattern/nbproject/private/
/PrototypePattern/build/
/AdapterPattern/nbproject/private/
/AdapterPattern/build/
/IteratorPattern/nbproject/private/
/IteratorPattern/build/
/BridgePattern/nbproject/private/
/BridgePattern/build/
/BridgePattern/dist/

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Database ###
db/data/*

#mac-os
*.DS_Store
